
.attachment-card{
    .attachment-image{
        max-width: 200px;
        max-height: 200px;
    }

    .file-icon{
        width: 30px;
        height: 30px;
    }
}

                    
.message{
    background-blend-mode: overlay;
    border-top: 0.333px solid var(--primary-white);
    padding: 2%;
    width: 75%;
    border-color: rgb(255,255,255,.2);
    .Timestamp{
        color: var(--dark-gray);
        font-size: 12px;
        text-align: right;
    }
}

.message.received-message{
    border-radius: 10.762px 10.762px 10.762px 0px;
    background: #392f39;
    background-blend-mode: overlay;
    
    backdrop-filter: blur(6.66px);
}

.message.sent-message{
    
    border-radius: 10.762px 10.762px 0px 10.762px;
    background: #3a3641;
    backdrop-filter: blur(7.51px);
    text-align: right;
    position: relative;
    margin-left: auto;
    margin-right: 10px;
}

@media(max-width: 479px){
        
    .message{
        font-size: 8.61px;
        line-height: 12.91px;
        letter-spacing: -1.1%;
        font-weight: 500;
        text-align: right;
        margin-bottom: 9px!important;
        margin-top: 9px!important;
        border: 0!important;
        border-top: 1px solid!important;
        border-color: rgb(255,255,255,.2)!important;
        margin-left: 10px;
    }
    .chatbox-card-body{
        height: auto! important;
    }
    .chatbox-card-footer{
        margin-top: 10px;
    }
    .chatbox-card-footer .textarea-container textarea{
        text-align: left;
        font-size: 8px;
    }
    .chat-swiper-container {
            padding: 0 16px!important; }
    
    .chatbox-card{
       
        width: 270px !important;
        padding: 10px!important;
    }
   textarea.form-control.ng-untouched.ng-pristine.ng-valid::placeholder {
        font-size: 8px!important;
    }
    
}