.messenger-chat{
    overflow-x: hidden;
    .chat-swiper-container {
        width: 100%;
    
        .swiper-wrapper{
            width: fit-content;
        
            .swiper-slide {
                background-position: center;
                background-size: cover;
                opacity: 0.5;
                width: auto;
                visibility: scroll;
                .chatbox-card{
                    width: 100%;
                    color: var(--light-gray);
                    border-radius: 11.17px;
                    background: var(--secondary-black);
                    box-shadow: 4.654px 4.654px 9.309px 0px rgba(0, 0, 0, 0.32) inset, -2.793px -2.793px 3.723px 0px rgba(255, 255, 255, 0.10) inset;
                    padding: 30px;
                    
                    .chatbox-card-body{
                        height: 25vh !important;
                        padding: 0px;
                        overflow-y: auto;
                        position: relative;

                    }
                    

                    
                    
                }
            }

            .swiper-slide.selected-slide{
                visibility: visible;
                opacity: 1;
                .chatbox-card{
                    .chatbox-card-body{
                        height: 32vh !important;
                        overflow-y: scroll !important;
                        padding: 5px;
                        margin: 0px;
                    }
                }

            }
            
        }

        .disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    @media screen and (max-width: 576px) {
        .Timestamp{
            font-size: 6px !important;
        }
        
    }

    @media screen and (max-width: 576px) {
        .swiper-slide {
            visibility: visible !important
        }
    }

    @media screen and (max-height: 600px) {
        .chatbox-card-body{
        }
    }

    @media screen and (min-height: 1000px){
        .chatbox-card-body{
            height: 70vh !important;
        }
    }

    @media screen and (min-width: 320px) and (max-width: 360.98px) {
        .chatbox-card{
            width: 320px !important;
        }
    }

    @media screen and (min-width: 361px) and (max-width: 390.98px) {
        .chatbox-card{
            width: 360px !important;
        }
    }

    @media screen and (min-width: 391px) and (max-width: 480.98px) {
        .chatbox-card{
            width: 390px !important;
        }
    }

    @media screen and (min-width: 481px) and (max-width: 576.98px) {
        .chatbox-card{
            width: 480px !important;
        }
    }

    @media screen and (min-width: 577px) and (max-width: 767.98px) {
        .chatbox-card{
            width: 570px !important;
        }
    }
    @media(max-width: 479px){
        
        .chatbox-card-footer{
            font-size: 8.61px;
            line-height: 12.91px;
            letter-spacing: -1.1%;
            font-weight: 500;
            text-align: right;
            margin-bottom: 9px!important;
            margin-top: 9px!important;
            border: 0!important;
            border-top: 1px solid!important;
            border-color: rgb(255,255,255,.2)!important;
            margin-left: 10px;
        }
        .chatbox-card-body{
            height: auto! important;
        }
        .chatbox-card-footer{
            margin-top: 10px;
        }
        .chatbox-card-footer .textarea-container textarea{
            text-align: left;
            font-size: 8px;
        }
        .chat-swiper-container {
                padding: 0 16px!important; }
        
        .chatbox-card{
           
            width: 270px !important;
            padding: 10px!important;
        }
       textarea.form-control.ng-untouched.ng-pristine.ng-valid::placeholder {
            font-size: 8px!important;
        }
        
    }

}