<div class="messenger-chat">
    <!-- swiper container -->
    <div class="chat-swiper-container">
        <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide" *ngFor="let chat of userChatBox; let i = index">
                <!-- chatbox card -->
                <div class="chatbox-card">
                    <div class="chatbox-card-body">
                        <div *ngFor="let message of chat['messages']">
                            <app-message [message]="message" [new]="false">
                            </app-message>
                        </div>
                    </div>
                    
                    
                    <app-messenger-chat-textbox [sender]="true" >
                    </app-messenger-chat-textbox>
                    
            </div>
            
        </div>
    </div>
</div>
                    