.messenger-chat-head {
  // swiper css
  .swiper-container {
    width: 100%;
    padding: 16px;

    .swiper-wrapper {
      width: fit-content;

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: auto;
        height: auto;
        border-radius: 50%;

        .profile-picture {
          width: 45px;
          height: 45px;
          cursor: pointer;
          transition: border 0.3s ease-in-out;
        }
      }

      .swiper-slide.selected-slide {
        .profile-picture {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
   
   .swiper-slide .profile-picture {
        width: 45px !important;
        height: 45px !important;
      }
  
      .swiper-slide.selected-slide {
          width: 70px !important;
          height: 70px !important;
          .selected {
            width: 70px;
          }
        }
      }
  
}
//for mobile devices
@media screen and (min-width: 320px) and (max-width: 360.98px) {
  .messenger-chat-head {
    .swiper-container {
      padding: 6px;
      .swiper-slide {
        .profile-picture {
          width: 32px !important;
          height: 32px !important;
        }
      }
    }
  }
}